body {
  font-family: Arial, sans-serif;
  background-color: #336699;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.dropdown-container {
  background-color: #4da6ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 60%;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select:focus {
  outline: none;
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.cert {
  display: inline-block;
}

.dropdown-container input,
.dropdown-container label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
}

.button-div {
  align-items: center;
}

button {
    float: right;
    font-size: 20px;
    border-radius: 6px;
}

<<<<<<< HEAD
fieldset {
    border-style: none;
=======
body {
    font-family: Arial, sans-serif;
    background-color: #336699;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.dropdown-container {
    background-color: #4da6ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
select:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
>>>>>>> e4b22e9a11e27941dbdab7070ba56d586c986ae7
}
